<%= include('entity-management') %>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_title">
  <h2 class="entity-title">Log</h2>
</script>

<!-- Renders the element description -->
<script type="text/tmpl" id="elements_description">
 <p>Esta página muestra las trazas del sistema. Puede consultar si se han producido errores en los procesos.</p>
</script>

<!-- Renders the elements container -->
<script type="text/tmpl" id="elements_container_template">

  <table id="elements_table" class="table">
     <thead class="table-header">
       <tr>
         <th class="table-header-title tht-logger" scope="col" style="width:100%">Message</th>
       </tr>
     </thead>
     <tbody id="elements_tbody" class="table-tbody">             
     </tbody>
  </table>

</script>

<!-- Renders one element in the elements list view -->
        
<script type="text/tmpl" id="elements_list_template">

    <tr class="table-row element-navigation-detail" rel="<%%= index %>" id="element_row_<%%=index%>">
      <td class="table-cell tc-logger"><%%= entity.message %></td>      
    </tr>

</script>

<!-- Renders one element in the element view (full detailed) -->

<script type="text/tmpl" id="element_template">


</script>

<!-- Renders the form to edit an element -->

<script type="text/tmpl" id="element_template_form">

     <div class="element_template" style="overflow:hidden">
     <div class="element_template" style="overflow:hidden">
       <div class="entity-field"><span class="entity-fieldlabel">Message</span> <span class="entity-fieldvalue"><%%= entity.message %></span> </div>
     </div>

</script>


<script type="text/javascript">
 
 require(['jquery', 'YSDEntityManagement'], function($, EntityManagement) {
  
  function LoggerHook() {
     	
    this.onRenderEntities = function(entities) {
    
      $('.new-entity-button').hide();
      $('.edit-entity-button').hide();
      $('.delete-all-entities-button').show();
      	
    }
  	
    this.formatDateTime = function(date) {
    
      return new Date(date).toString('dd.MM.yyyy HH:mm:ss')
    	
    }  	
  	
  	this.formatSeverity = function(entity) {
  	  
  	  //return entity.severity.toLowerCase();
  	  	
  	}
  	
  };
  
  var urls = {
               query_url      : '/log-messages',
               delete_all_url : '/log-messages',
               delete_url     : '/log-message'
             };
             
  var loggerHook = new LoggerHook();
  var loggers = new EntityManagement(urls, 'logger', <%= settings.log_messages_page_size %>, loggerHook);
   
});

</script>
